In [0]:
-- 事前準備
-- CREATE TABLE IF NOT EXISTS users_recursion (
--   id INT PRIMARY KEY, 
--   family_name VARCHAR(255) NOT NULL, 
--   first_name VARCHAR(255) NOT NULL, 
--   nickname VARCHAR(255), 
--   prefecture VARCHAR(10) NOT NULL, 
--   phone_number VARCHAR(11) NOT NULL, 
--   age INT NOT NULL, 
--   created_at DATE NOT NULL, 
--   updated_at DATE NOT NULL
--   );

-- INSERT INTO users_recursion VALUES (1, "山田", "太郎", "やまぽん", "東京都", "09011111111", 22, "2022-01-01 12:01:11", "2022-01-01 12:01:11"), (2, "田中", "次郎", "たなか", "東京都", "09022222222", 30, "2022-03-02 10:53:20", "2022-04-01 20:31:47"), (3, "佐藤", "隆", "たかくん", "大阪府", "09033333333", 18, "2022-03-01 21:23:55", "2022-05-11 16:02:13"), (4, "松本", "健斗", NULL, "宮崎県", "09044444444", 35, "2021-11-21 14:05:42", "2022-01-02 17:52:12"), (5, "坂本", "太郎", "たろくん", "滋賀県", "09055555555", 17, "2021-06-02 23:41:44", "2021-12-10 09:47:29"), (6, "飯島", "隆平", NULL, "東京都", "09066666666", 24, "2021-12-31 22:00:12", "2022-01-04 14:07:51"), (7, "藤本", "翔也", "しょう", "東京都", "09077777777", 44, "2022-03-24", "2022-05-01 04:01:02"), (8, "山本", "圭佑", "やまっち", "北海道", "09077777777", 39, "2021-09-03 19:56:39", "2022-03-16 09:42:56"), (9, "服部", "誠司", "はっとり", "鹿児島県", "09099999999", 29, "2022-01-02 06:47:22", "2022-06-29 06:35:43"), (10, "城田", "浩二", "こうくん", "石川県", "09011112222", 20, "2021-12-20 21:01:24", "2022-04-13 10:37:52");

-- データの確認
SELECT * FROM users_recursion;

INSERT INTO users_recursion VALUES (11, '本田', '光輝', NULL, '大阪府', '09022223333', 22, '2022-01-01 12:01:10', '2022-04-01 21:45:33');

-- 並び替え
SELECT * FROM users_recursion ORDER BY age ASC, created_at DESC;

-- LIMIT 
SELECT * FROM users_recursion ORDER BY age ASC LIMIT 3;

-- 課題のための下準備
TRUNCATE TABLE users_recursion;
ALTER TABLE users_recursion ADD COLUMN last_logged_in DATE AFTER age;
INSERT INTO users_recursion VALUES (1, "山田", "太郎", "やまぽん", "東京都", "09011111111", 22, "2022-01-02", "2022-01-01 12:01:11", "2022-01-01 12:01:11"), (2, "田中", "次郎", "たなか", "東京都", "09022222222", 30, "2022-04-01", "2022-03-02 10:53:20", "2022-04-01 20:31:47"), (3, "佐藤", "隆", "たかくん", "大阪府", "09033333333", 18, "2022-05-23", "2022-03-01 21:23:55", "2022-05-11 16:02:13"), (4, "松本", "健斗", NULL, "宮崎県", "09044444444", 35, "2022-01-02", "2021-11-21 14:05:42", "2022-01-02 17:52:12"), (5, "坂本", "太郎", "たろくん", "滋賀県", "09055555555", 17, "2021-12-23", "2021-06-02 23:41:44", "2021-12-10 09:47:29"), (6, "飯島", "隆平", NULL, "東京都", "09066666666", 24, "2022-01-04", "2021-12-31 10:20:11", "2022-01-04 21:00:48"), (7, "藤本", "翔也", "しょう", "東京都", "09077777777", 44, "2022-05-01", "2022-03-24 06:01:53", "2022-05-01 04:01:02"), (8, "山本", "圭佑", "やまっち", "北海道", "09077777777", 39, "2022-03-16", "2021-09-03 19:56:39", "2022-03-16 09:42:56"), (9, "服部", "誠司", "はっとり", "鹿児島県", "09099999999", 29, "2022-06-29", "2022-01-02 06:47:22", "2022-06-29 06:35:43"), (10, "城田", "浩二", "こうくん", "石川県", "09011112222", 20, "2022-04-14", "2021-12-20 21:01:24", "2022-04-13 10:37:52"), (11, '本田', '光輝', NULL, '大阪府', '09022223333', 22, '2022-04-01', '2022-01-01 12:01:10', '2022-04-01 21:45:33');

SELECT *
FROM users_recursion;

-- 最終ログイン日が新しい順に並び替えて、全レコード、全カラムを表示してください。
SELECT * 
FROM users_recursion 
ORDER BY last_logged_in DESC;

-- 最終ログイン日の新しい順, 年齢の若い順の順番で並び替えて、全レコード、全カラムを表示してください。
SELECT * 
FROM users_recursion 
ORDER BY 
  last_logged_in DESC,
  age ASC;

-- 最終ログイン日の新しい順, 年齢の若い順の順番で並び替えて、最初の 5 レコード、全カラムを表示してください。
SELECT * 
FROM users_recursion 
ORDER BY 
  last_logged_in DESC,
  age ASC
LIMIT 5;

-- テーブルにデータを追加
INSERT INTO users_recursion 
VALUES (12, '今本', '修平', 'しゅうちゃん', '東京都', '09033334444', 30, '2022-01-01', '2021-11-08 11:39:52', '2022-01-01 06:01:56');

SELECT * FROM users_recursion;

-- データを追加
INSERT INTO users_recursion
(id, family_name, first_name, prefecture, phone_number, age, created_at, updated_at) VALUES (13, '坂本', '龍馬', '高知県', '09044445555', 31, '2022-05-01 13:55:49', '2022-05-01 13:55:49');

SELECT * FROM users_recursion;

INSERT INTO users_recursion 
VALUES (14, '長嶋', '優斗', default, '東京都', '09055556666', 19, default, '2021-12-08 23:42:19', '2022-02-11 06:13:27');

SELECT * FROM users_recursion;

-- UPDATE
UPDATE users_recursion SET nickname = 'りょうま' WHERE family_name = '坂本';
SELECT * FROM users_recursion;
UPDATE users_recursion SET nickname = 'たろくん' WHERE id = 5;
SELECT * FROM users_recursion;

-- DELETE
DELETE FROM users_recursion WHERE id >= 13;
SELECT * FROM users_recursion;

-- 課題のためにデータを整理
TRUNCATE TABLE users_recursion;
INSERT INTO users_recursion VALUES (1, "山田", "太郎", "やまぽん", "東京都", "09011111111", 22, "2022-01-02", "2022-01-01 12:01:11", "2022-01-01 12:01:11"), (2, "田中", "次郎", "たなか", "東京都", "09022222222", 30, "2022-04-01", "2022-03-02 10:53:20", "2022-04-01 20:31:47"), (3, "佐藤", "隆", "たかくん", "大阪府", "09033333333", 18, "2022-05-23", "2022-03-01 21:23:55", "2022-05-11 16:02:13"), (4, "松本", "健斗", NULL, "宮崎県", "09044444444", 35, "2022-01-02", "2021-11-21 14:05:42", "2022-01-02 17:52:12"), (5, "坂本", "太郎", "たろくん", "滋賀県", "09055555555", 17, "2021-12-23", "2021-06-02 23:41:44", "2021-12-10 09:47:29"), (6, "飯島", "隆平", NULL, "東京都", "09066666666", 24, "2022-01-04", "2021-12-31 10:20:11", "2022-01-04 21:00:48"), (7, "藤本", "翔也", "しょう", "東京都", "09077777777", 44, "2022-05-01", "2022-03-24 06:01:53", "2022-05-01 04:01:02"), (8, "山本", "圭佑", "やまっち", "北海道", "09077777777", 39, "2022-03-16", "2021-09-03 19:56:39", "2022-03-16 09:42:56"), (9, "服部", "誠司", "はっとり", "鹿児島県", "09099999999", 29, "2022-06-29", "2022-01-02 06:47:22", "2022-06-29 06:35:43"), (10, "城田", "浩二", "こうくん", "石川県", "09011112222", 20, "2022-04-14", "2021-12-20 21:01:24", "2022-04-13 10:37:52"), (11, '本田', '光輝', NULL, '大阪府', '09022223333', 22, '2022-04-01', '2022-01-01 12:01:10', '2022-04-01 21:45:33'), (12, '今本', '修平', 'しゅうちゃん', '東京都', '09033334444', 30, '2022-01-01', '2021-11-08 11:39:52', '2022-01-01 06:01:56');
SELECT * FROM users_recursion;

-- users テーブルに以下のカラムを持ったレコードを追加してください。
INSERT INTO users_recursion 
VALUES(13, '山口', '純', 'じゅん', '奈良県', '09066667777', 29, '2022-05-23', '2022-02-10 12:42:19', '2022-05-23 09:11:30')

SELECT * FROM users_recursion;

-- users テーブルのレコードを以下のように更新してください。
-- 更新するレコードは、id = 13 のレコード。
-- nickname をじゅんちゃんへ、last_logged_in を 2022-05-24 へ更新。

UPDATE users_recursion 
SET 
  nickname = 'じゅんちゃん',
  last_logged_in = '2022-05-24'
WHERE id = 13;

SELECT * FROM users_recursion;

-- users テーブルの以下のレコードを削除してください。
-- id が奇数のレコード。

DELETE FROM users_recursion WHERE id % 2 = 1;

-- テーブル削除
DROP TABLE users_recursion;
-- SELECT * FROM users_recursion;