In [0]:
CREATE TABLE users_recursion (id INT PRIMARY KEY, family_name VARCHAR(255) NOT NULL, first_name VARCHAR(255) NOT NULL, nickname VARCHAR(255), prefecture VARCHAR(10) NOT NULL, phone_number VARCHAR(11) NOT NULL, age INT NOT NULL, last_logged_in DATE, created_at DATE NOT NULL, updated_at DATE NOT NULL);
INSERT INTO users_recursion VALUES (1, '山田', '太郎', 'やまぽん', '東京都', '09011111111', 22, '2022-01-02', '2022-01-01 12:01:11', '2022-01-01 12:01:11'), (2, '田中', '次郎', 'たなか', '東京都', '09022222222', 30, '2022-04-01', '2022-03-02 10:53:20', '2022-04-01 20:31:47'), (3, '佐藤', '隆', 'たかくん', '大阪府', '09033333333', 18, '2022-05-23', '2022-03-01 21:23:55', '2022-05-11 16:02:13'), (4, '松本', '健斗', NULL, '宮崎県', '09044444444', 35, '2022-01-02', '2021-11-21 14:05:42', '2022-01-02 17:52:12'), (5, '坂本', '太郎', 'たろくん', '滋賀県', '09055555555', 17, '2021-12-23', '2021-06-02 23:41:44', '2021-12-10 09:47:29'), (6, '飯島', '隆平', NULL, '東京都', '09066666666', 24, '2022-01-04', '2021-12-31 10:20:11', '2022-01-04 21:00:48'), (7, '藤本', '翔也', 'しょう', '東京都', '09077777777', 44, '2022-05-01', '2022-03-24 06:01:53', '2022-05-01 04:01:02'), (8, '山本', '圭佑', 'やまっち', '北海道', '09077777777', 39, '2022-03-16', '2021-09-03 19:56:39', '2022-03-16 09:42:56'), (9, '服部', '誠司', 'はっとり', '鹿児島県', '09099999999', 29, '2022-06-29', '2022-01-02 06:47:22', '2022-06-29 06:35:43'), (10, '城田', '浩二', 'こうくん', '石川県', '09011112222', 20, '2022-04-14', '2021-12-20 21:01:24', '2022-04-13 10:37:52'), (11, '本田', '光輝', NULL, '大阪府', '09022223333', 22, '2022-04-01', '2022-01-01 12:01:10', '2022-04-01 21:45:33'), (12, '今本', '修平', 'しゅうちゃん', '東京都', '09033334444', 30, '2022-01-01', '2021-11-08 11:39:52', '2022-01-01 06:01:56'), (13, '坂本', '龍馬', NULL, '高知県', '09044445555', 31, NULL, '2022-05-01 13:55:49', '2022-05-01 13:55:49');

DELETE FROM users_recursion WHERE id % 2 <> 0;
SELECT * FROM users_recursion;

-- 最大値
SELECT MAX(age) FROM users_recursion;

-- 最小値
SELECT MIN(age) FROM users_recursion;

-- 平均値
SELECT AVG(age) FROM users_recursion;

-- 集計
SELECT SUM(age) FROM users_recursion;

-- COUNT
SELECT COUNT(*) FROM users_recursion;
SELECT COUNT(nickname) FROM users_recursion;

-- 条件付き
SELECT prefecture, AVG(age) 
FROM users_recursion 
WHERE prefecture = '東京都'
GROUP BY prefecture;

SELECT prefecture AS `都道府県`, AVG(age) AS `平均年齢`
FROM users_recursion
WHERE prefecture = '東京都'
GROUP BY prefecture;

-- 課題準備
TRUNCATE TABLE users_recursion;
INSERT INTO users_recursion VALUES (1, '山田', '太郎', 'やまぽん', '東京都', '09011111111', 22, '2022-01-02', '2022-01-01 12:01:11', '2022-01-01 12:01:11'), (2, '田中', '次郎', 'たなか', '東京都', '09022222222', 30, '2022-04-01', '2022-03-02 10:53:20', '2022-04-01 20:31:47'), (3, '佐藤', '隆', 'たかくん', '大阪府', '09033333333', 18, '2022-05-23', '2022-03-01 21:23:55', '2022-05-11 16:02:13'), (4, '松本', '健斗', NULL, '宮崎県', '09044444444', 35, '2022-01-02', '2021-11-21 14:05:42', '2022-01-02 17:52:12'), (5, '坂本', '太郎', 'たろくん', '滋賀県', '09055555555', 17, '2021-12-23', '2021-06-02 23:41:44', '2021-12-10 09:47:29'), (6, '飯島', '隆平', NULL, '東京都', '09066666666', 24, '2022-01-04', '2021-12-31 10:20:11', '2022-01-04 21:00:48'), (7, '藤本', '翔也', 'しょう', '東京都', '09077777777', 44, '2022-05-01', '2022-03-24 06:01:53', '2022-05-01 04:01:02'), (8, '山本', '圭佑', 'やまっち', '北海道', '09077777777', 39, '2022-03-16', '2021-09-03 19:56:39', '2022-03-16 09:42:56'), (9, '服部', '誠司', 'はっとり', '鹿児島県', '09099999999', 29, '2022-06-29', '2022-01-02 06:47:22', '2022-06-29 06:35:43'), (10, '城田', '浩二', 'こうくん', '石川県', '09011112222', 20, '2022-04-14', '2021-12-20 21:01:24', '2022-04-13 10:37:52'), (11, '本田', '光輝', NULL, '大阪府', '09022223333', 22, '2022-04-01', '2022-01-01 12:01:10', '2022-04-01 21:45:33'), (12, '今本', '修平', 'しゅうちゃん', '東京都', '09033334444', 30, '2022-01-01', '2021-11-08 11:39:52', '2022-01-01 06:01:56');

-- users テーブルにおいて、「大阪に住んでいる方の平均年齢」を取得してください。出力するカラムは、「都道府県」、「平均年齢」の二つにしてください。
SELECT prefecture AS `都道府県` , AVG(age) AS `平均年齢`
FROM users_recursion
WHERE prefecture = '大阪府'
GROUP BY prefecture;

-- GROUP BY
CREATE TABLE users_recursion (id INT PRIMARY KEY, family_name VARCHAR(255) NOT NULL, first_name VARCHAR(255) NOT NULL, nickname VARCHAR(255), prefecture VARCHAR(10) NOT NULL, phone_number VARCHAR(11) NOT NULL, age INT NOT NULL, last_logged_in DATE, created_at DATE NOT NULL, updated_at DATE NOT NULL);
INSERT INTO users_recursion VALUES (1, '山田', '太郎', 'やまぽん', '東京都', '09011111111', 22, '2022-01-02', '2022-01-01 12:01:11', '2022-01-01 12:01:11'), (2, '田中', '次郎', 'たなか', '東京都', '09022222222', 30, '2022-04-01', '2022-03-02 10:53:20', '2022-04-01 20:31:47'), (3, '佐藤', '隆', 'たかくん', '大阪府', '09033333333', 18, '2022-05-23', '2022-03-01 21:23:55', '2022-05-11 16:02:13'), (4, '松本', '健斗', NULL, '宮崎県', '09044444444', 35, '2022-01-02', '2021-11-21 14:05:42', '2022-01-02 17:52:12'), (5, '坂本', '太郎', 'たろくん', '滋賀県', '09055555555', 17, '2021-12-23', '2021-06-02 23:41:44', '2021-12-10 09:47:29'), (6, '飯島', '隆平', NULL, '東京都', '09066666666', 24, '2022-01-04', '2021-12-31 10:20:11', '2022-01-04 21:00:48'), (7, '藤本', '翔也', 'しょう', '東京都', '09077777777', 44, '2022-05-01', '2022-03-24 06:01:53', '2022-05-01 04:01:02'), (8, '山本', '圭佑', 'やまっち', '北海道', '09077777777', 39, '2022-03-16', '2021-09-03 19:56:39', '2022-03-16 09:42:56'), (9, '服部', '誠司', 'はっとり', '鹿児島県', '09099999999', 29, '2022-06-29', '2022-01-02 06:47:22', '2022-06-29 06:35:43'), (10, '城田', '浩二', 'こうくん', '石川県', '09011112222', 20, '2022-04-14', '2021-12-20 21:01:24', '2022-04-13 10:37:52'), (11, '本田', '光輝', NULL, '大阪府', '09022223333', 22, '2022-04-01', '2022-01-01 12:01:10', '2022-04-01 21:45:33'), (12, '今本', '修平', 'しゅうちゃん', '東京都', '09033334444', 30, '2022-01-01', '2021-11-08 11:39:52', '2022-01-01 06:01:56');

SELECT prefecture AS `都道府県`, AVG(age) AS `平均年齢`
FROM users_recursion 
GROUP BY prefecture;

SELECT prefecture AS `都道府県`, AVG(age) AS `平均年齢` 
FROM users_recursion 
WHERE prefecture IN ('大阪府', '東京都') 
GROUP BY prefecture;

-- HAVING
SELECT prefecture AS `都道府県`, AVG(age) AS `平均年齢` 
FROM users_recursion 
WHERE prefecture IN ('大阪府', '東京都') 
GROUP BY prefecture 
HAVING AVG(age) <= 20;

-- 課題
TRUNCATE TABLE users_recursion;
INSERT INTO users_recursion VALUES (1, '山田', '太郎', 'やまぽん', '東京都', '09011111111', 22, '2022-01-02', '2022-01-01 12:01:11', '2022-01-01 12:01:11'), (2, '田中', '次郎', 'たなか', '東京都', '09022222222', 30, '2022-04-01', '2022-03-02 10:53:20', '2022-04-01 20:31:47'), (3, '佐藤', '隆', 'たかくん', '大阪府', '09033333333', 18, '2022-05-23', '2022-03-01 21:23:55', '2022-05-11 16:02:13'), (4, '松本', '健斗', NULL, '宮崎県', '09044444444', 35, '2022-01-02', '2021-11-21 14:05:42', '2022-01-02 17:52:12'), (5, '坂本', '太郎', 'たろくん', '滋賀県', '09055555555', 17, '2021-12-23', '2021-06-02 23:41:44', '2021-12-10 09:47:29'), (6, '飯島', '隆平', NULL, '東京都', '09066666666', 24, '2022-01-04', '2021-12-31 10:20:11', '2022-01-04 21:00:48'), (7, '藤本', '翔也', 'しょう', '東京都', '09077777777', 44, '2022-05-01', '2022-03-24 06:01:53', '2022-05-01 04:01:02'), (8, '山本', '圭佑', 'やまっち', '北海道', '09077777777', 39, '2022-03-16', '2021-09-03 19:56:39', '2022-03-16 09:42:56'), (9, '服部', '誠司', 'はっとり', '鹿児島県', '09099999999', 29, '2022-06-29', '2022-01-02 06:47:22', '2022-06-29 06:35:43'), (10, '城田', '浩二', 'こうくん', '石川県', '09011112222', 20, '2022-04-14', '2021-12-20 21:01:24', '2022-04-13 10:37:52'), (11, '本田', '光輝', NULL, '大阪府', '09022223333', 22, '2022-04-01', '2022-01-01 12:01:10', '2022-04-01 21:45:33'), (12, '今本', '修平', 'しゅうちゃん', '東京都', '09033334444', 30, '2022-01-01', '2021-11-08 11:39:52', '2022-01-01 06:01:56'), (13, '中島', '優希', 'ゆうくん', '北海道', '09044445555', 31, '2022-04-01', '2021-10-29 12:37:48', '2022-04-01 08:11:05');

-- 課題1 users テーブルにおいて、「各都道府県のユーザー数」を取得してください。出力するカラムは、「都道府県」、「ユーザー数」の二つにしてください。また、表示順はユーザー数が多い順にしてください。
SELECT prefecture AS `都道府県`, COUNT(id) AS `ユーザ数`
FROM users_recursion
GROUP BY prefecture
ORDER BY `ユーザ数` DESC;

-- 課題2 users テーブルにおいて、「各都道府県ごとの最小年齢」を取得してください。出力するカラムは、「都道府県」、「最小年齢」の二つにしてください。また、表示順は最小年齢が低い順にしてください。
DESCRIBE users_recursion;
SELECT prefecture AS `都道府県`, MIN(age) AS `最小年齢`
FROM users_recursion
GROUP BY prefecture
ORDER BY `最小年齢` ASC;

-- 課題3
-- nickname が NULL 値ではないレコードを対象とする。
-- 各都道府県ごとにデータを取得。
-- 平均年齢が 20 歳以上の都道府県を対象とする。
-- 表示カラムは、都道府県、最小年齢、平均年齢。
-- 表示順は、最小年齢が低い順。
SELECT prefecture AS `都道府県`, MIN(age) AS `最小年齢`, AVG(age) AS `平均年齢`
FROM users_recursion
WHERE nickname IS NOT NULL
GROUP BY prefecture
HAVING AVG(age) >= 20
ORDER BY `最小年齢` ASC;

-- 一旦テーブルの削除
DROP TABLE IF EXISTS users_recursion;

-- UNION
CREATE TABLE users_recursion (id INT PRIMARY KEY, family_name VARCHAR(255) NOT NULL, first_name VARCHAR(255) NOT NULL, nickname VARCHAR(255), prefecture VARCHAR(10) NOT NULL, phone_number VARCHAR(11) NOT NULL, age INT NOT NULL, last_logged_in DATE, created_at DATE NOT NULL, updated_at DATE NOT NULL);
INSERT INTO users_recursion VALUES (1, '山田', '太郎', 'やまぽん', '東京都', '09011111111', 22, '2022-01-02', '2022-01-01 12:01:11', '2022-01-01 12:01:11'), (2, '田中', '次郎', 'たなか', '東京都', '09022222222', 30, '2022-04-01', '2022-03-02 10:53:20', '2022-04-01 20:31:47'), (3, '佐藤', '隆', 'たかくん', '大阪府', '09033333333', 18, '2022-05-23', '2022-03-01 21:23:55', '2022-05-11 16:02:13'), (4, '松本', '健斗', NULL, '宮崎県', '09044444444', 35, '2022-01-02', '2021-11-21 14:05:42', '2022-01-02 17:52:12'), (5, '坂本', '太郎', 'たろくん', '滋賀県', '09055555555', 17, '2021-12-23', '2021-06-02 23:41:44', '2021-12-10 09:47:29'), (6, '飯島', '隆平', NULL, '東京都', '09066666666', 24, '2022-01-04', '2021-12-31 10:20:11', '2022-01-04 21:00:48'), (7, '藤本', '翔也', 'しょう', '東京都', '09077777777', 44, '2022-05-01', '2022-03-24 06:01:53', '2022-05-01 04:01:02'), (8, '山本', '圭佑', 'やまっち', '北海道', '09077777777', 39, '2022-03-16', '2021-09-03 19:56:39', '2022-03-16 09:42:56'), (9, '服部', '誠司', 'はっとり', '鹿児島県', '09099999999', 29, '2022-06-29', '2022-01-02 06:47:22', '2022-06-29 06:35:43'), (10, '城田', '浩二', 'こうくん', '石川県', '09011112222', 20, '2022-04-14', '2021-12-20 21:01:24', '2022-04-13 10:37:52'), (11, '本田', '光輝', NULL, '大阪府', '09022223333', 22, '2022-04-01', '2022-01-01 12:01:10', '2022-04-01 21:45:33'), (12, '今本', '修平', 'しゅうちゃん', '東京都', '09033334444', 30, '2022-01-01', '2021-11-08 11:39:52', '2022-01-01 06:01:56'), (13, '中島', '優希', 'ゆうくん', '北海道', '09044445555', 31, '2022-04-01', '2021-10-29 12:37:48', '2022-04-01 08:11:05');

SELECT * 
FROM users_recursion;

SELECT '平均値' AS `集計種別`, AVG(age) AS `集計結果` 
FROM users_recursion
UNION
SELECT '最大値' AS `集計種別`, MAX(age) `集計結果` 
FROM users_recursion
UNION
SELECT '最小値' AS `集計種別`, MIN(age) AS `集計結果` 
FROM users_recursion;

-- users テーブルにおいて、「全都道府県合計のユーザー数と各都道府県のユーザー数」を取得してください。出力するカラムは、「都道府県」、「ユーザー数」の二つで、全都道府県合計レコードの「都道府県」カラム値は「全域」にしてください。また、表示順はユーザー数が多い順にしてください。
SELECT '全域' AS `都道府県`, COUNT(*) AS `ユーザー数`
FROM users_recursion
UNION ALL
SELECT prefecture AS `都道府県`, COUNT(*) AS `ユーザー数`
FROM users_recursion
GROUP BY prefecture
ORDER BY `ユーザー数` DESC;